In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('saude.csv', delimiter=';')
data.head()

,Genero,Idade,Estado civil,Grau de escolaridade,Situação profissional:,Caso se aplique. indique. por favor. a principal área da sua formação:,Se é estudante do Ensino Superior. que ciclo de estudos frequenta?,Como classifica a sua saúde em geral?,Numa escala política da esquerda para a direita. indique sua posição pessoal. Por favor. considere a escala de 1 (totalmente de esquerda) a 10 (totalmente de direita):,CRIT1,...,Vagreg_Média_Autotranscendência,Vagreg_Autovalorização,Vagreg_Média_Autovalorização,Vagreg_Abertura_Mudança,Vagreg_Média_Abertura_Mudança,ED_Espontâneo,ED_Intuitivo,ED_Dependente,ED_Evitante,ED_Racional
0,1.0,49.0,3.0,4.0,6.0,6.0,NaN,3,8.0,5.0,...,5.50,2.5,1.25,8.0,2.666667,2.0,2.5,2.0,3.0,4.0
1,1.0,19.0,1.0,6.0,3.0,6.0,1.0,4,NaN,5.0,...,4.50,8.0,4.00,15.0,5.000000,2.5,3.5,3.0,3.0,4.0
2,1.0,29.0,1.0,4.0,3.0,6.0,NaN,5,7.0,5.0,...,5.00,8.5,4.25,12.5,4.166667,3.5,4.5,3.5,4.0,4.5
3,1.0,21.0,1.0,9.0,3.0,6.0,1.0,3,5.0,5.0,...,4.75,7.0,3.50,12.5,4.166667,2.0,3.5,4.0,3.5,4.5
4,1.0,20.0,1.0,4.0,3.0,4.0,1.0,5,5.0,5.0,...,5.75,7.5,3.75,16.0,5.333333,1.5,5.0,1.0,1.0,4.5

In [3]:
column = data.iloc[:, 8]
print(column)

0       8.0
1       NaN
2       7.0
3       5.0
4       5.0
       ...
3079    NaN
3080    NaN
3081    NaN
3082    NaN
3083    NaN
Name: Numa escala política da esquerda para a direita. indique sua posição pessoal. Por favor. considere a escala de 1 (totalmente de esquerda) a 10 (totalmente de direita):, Length: 3084, dtype: float64

In [4]:
data.iloc[:, 8] = data.iloc[:, 8].fillna(0)

In [5]:
column = data.iloc[:, 8] #POLITICA
print(column)

0       8.0
1       0.0
2       7.0
3       5.0
4       5.0
       ...
3079    0.0
3080    0.0
3081    0.0
3082    0.0
3083    0.0
Name: Numa escala política da esquerda para a direita. indique sua posição pessoal. Por favor. considere a escala de 1 (totalmente de esquerda) a 10 (totalmente de direita):, Length: 3084, dtype: float64

In [6]:
column = data.iloc[:, 98] #ESPONTÂNEO
print(column)

0       2.0
1       2.5
2       3.5
3       2.0
4       1.5
       ...
3079    3.0
3080    2.0
3081    3.0
3082    2.5
3083    1.5
Name: ED_Espontâneo, Length: 3084, dtype: float64

In [7]:
column = data.iloc[:, 78] #IDADES
print(column)

0       3
1       1
2       1
3       1
4       1
       ..
3079    1
3080    1
3081    1
3082    3
3083    1
Name: Idade_Gerações, Length: 3084, dtype: int64

In [8]:
newdata = data.iloc[:, [0, 78, 2, 3, 4, 8, 98, 99, 100, 101, 102]].copy()
newdata.columns = ['Genero', 'Idade', 'Estado Civil', 'Grau Escolar', 'Situação Profiss', 'Orient Política', 'Espontâneo', 'Intuitivo', 'Dependente', 'Evitante', 'Racional']
newdata.head()

,Genero,Idade,Estado Civil,Grau Escolar,Situação Profiss,Orient Política,Espontâneo,Intuitivo,Dependente,Evitante,Racional
0,1.0,3,3.0,4.0,6.0,8.0,2.0,2.5,2.0,3.0,4.0
1,1.0,1,1.0,6.0,3.0,0.0,2.5,3.5,3.0,3.0,4.0
2,1.0,1,1.0,4.0,3.0,7.0,3.5,4.5,3.5,4.0,4.5
3,1.0,1,1.0,9.0,3.0,5.0,2.0,3.5,4.0,3.5,4.5
4,1.0,1,1.0,4.0,3.0,5.0,1.5,5.0,1.0,1.0,4.5

In [9]:
def classificar_orientacao(valor):
    if valor == 0:
        return 0
    elif 1 <= valor <= 4:
        return 1  # Esquerda
    elif 5 <= valor <= 6:
        return 2
    elif 7 <= valor <= 10:
        return 3
    return 0

In [10]:
newdata['Orient Política'] = newdata['Orient Política'].apply(classificar_orientacao)
newdata.head()

,Genero,Idade,Estado Civil,Grau Escolar,Situação Profiss,Orient Política,Espontâneo,Intuitivo,Dependente,Evitante,Racional
0,1.0,3,3.0,4.0,6.0,3,2.0,2.5,2.0,3.0,4.0
1,1.0,1,1.0,6.0,3.0,0,2.5,3.5,3.0,3.0,4.0
2,1.0,1,1.0,4.0,3.0,3,3.5,4.5,3.5,4.0,4.5
3,1.0,1,1.0,9.0,3.0,2,2.0,3.5,4.0,3.5,4.5
4,1.0,1,1.0,4.0,3.0,2,1.5,5.0,1.0,1.0,4.5

In [11]:
missing_values = newdata.isnull().sum()
print(missing_values)

Genero                1
Idade                 0
Estado Civil        481
Grau Escolar         20
Situação Profiss      1
Orient Política       0
Espontâneo            0
Intuitivo             0
Dependente            0
Evitante              0
Racional              0
dtype: int64

In [12]:
newdata.iloc[:, 2] = newdata.iloc[:, 2].fillna(0)
newdata.iloc[:, 3] = newdata.iloc[:, 3].fillna(0)
newdata.iloc[:, 4] = newdata.iloc[:, 4].fillna(0)

In [13]:
missing_values = newdata.isnull().sum()
print(missing_values)

Genero              1
Idade               0
Estado Civil        0
Grau Escolar        0
Situação Profiss    0
Orient Política     0
Espontâneo          0
Intuitivo           0
Dependente          0
Evitante            0
Racional            0
dtype: int64

In [14]:
classes = ['Espontâneo', 'Intuitivo', 'Dependente', 'Evitante', 'Racional']
maximos = newdata[classes].max(axis=1)
for classe in classes:
    newdata[classe] = (newdata[classe] == maximos).astype(int)
newdata.head()

,Genero,Idade,Estado Civil,Grau Escolar,Situação Profiss,Orient Política,Espontâneo,Intuitivo,Dependente,Evitante,Racional
0,1.0,3,3.0,4.0,6.0,3,0,0,0,0,1
1,1.0,1,1.0,6.0,3.0,0,0,0,0,0,1
2,1.0,1,1.0,4.0,3.0,3,0,1,0,0,1
3,1.0,1,1.0,9.0,3.0,2,0,0,0,0,1
4,1.0,1,1.0,4.0,3.0,2,0,1,0,0,0

In [15]:
newdata = newdata.dropna()
missing_values = newdata.isnull().sum()
print(missing_values)

Genero              0
Idade               0
Estado Civil        0
Grau Escolar        0
Situação Profiss    0
Orient Política     0
Espontâneo          0
Intuitivo           0
Dependente          0
Evitante            0
Racional            0
dtype: int64

In [16]:
newdata.dtypes

Genero              float64
Idade                 int64
Estado Civil        float64
Grau Escolar        float64
Situação Profiss    float64
Orient Política       int64
Espontâneo            int64
Intuitivo             int64
Dependente            int64
Evitante              int64
Racional              int64
dtype: object

In [17]:
newdata['Genero'] = newdata['Genero'].astype(int)
newdata['Estado Civil'] = newdata['Estado Civil'].astype(int)
newdata['Grau Escolar'] = newdata['Grau Escolar'].astype(int)
newdata['Situação Profiss'] = newdata['Situação Profiss'].astype(int)
newdata.dtypes

Genero              int64
Idade               int64
Estado Civil        int64
Grau Escolar        int64
Situação Profiss    int64
Orient Política     int64
Espontâneo          int64
Intuitivo           int64
Dependente          int64
Evitante            int64
Racional            int64
dtype: object

In [18]:
newdata.head()

,Genero,Idade,Estado Civil,Grau Escolar,Situação Profiss,Orient Política,Espontâneo,Intuitivo,Dependente,Evitante,Racional
0,1,3,3,4,6,3,0,0,0,0,1
1,1,1,1,6,3,0,0,0,0,0,1
2,1,1,1,4,3,3,0,1,0,0,1
3,1,1,1,9,3,2,0,0,0,0,1
4,1,1,1,4,3,2,0,1,0,0,0

In [19]:
newdata.apply(pd.Series.unique)

Genero                                   [1, 0, 2]
Idade                                 [3, 1, 4, 2]
Estado Civil                    [3, 1, 2, 4, 5, 0]
Grau Escolar        [4, 6, 9, 5, 7, 3, 2, 1, 8, 0]
Situação Profiss             [6, 3, 1, 4, 2, 5, 0]
Orient Política                       [3, 0, 2, 1]
Espontâneo                                  [0, 1]
Intuitivo                                   [0, 1]
Dependente                                  [0, 1]
Evitante                                    [0, 1]
Racional                                    [1, 0]
dtype: object

In [20]:
newdata.to_csv('saudefinal.csv', index=False)

In [21]:
data = pd.read_csv('saudefinal.csv')
data.head()

,Genero,Idade,Estado Civil,Grau Escolar,Situação Profiss,Orient Política,Espontâneo,Intuitivo,Dependente,Evitante,Racional
0,1,3,3,4,6,3,0,0,0,0,1
1,1,1,1,6,3,0,0,0,0,0,1
2,1,1,1,4,3,3,0,1,0,0,1
3,1,1,1,9,3,2,0,0,0,0,1
4,1,1,1,4,3,2,0,1,0,0,0